.link {
    border-radius: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 16px;
    max-height: 56px;
    border: none;
    cursor: pointer;
}
